/* @import url('https://themes.googleusercontent.com/fonts/css?kit=_F3QUTtkSNk79pi9IAxyYfCcAWHFqrTaU7zr6IR_7d4__i4gWLWAZcI-i-qKiyD_'); */

.lst-kix_rtmbw9sgp0h-0>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-2>li:before {
    content: ""
}

.lst-kix_rtmbw9sgp0h-3>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-3>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-6>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-7 {
    list-style-type: disc
}

ul.lst-kix_l0migqss4xdv-8 {
    list-style-type: disc
}

ul.lst-kix_l0migqss4xdv-5 {
    list-style-type: disc
}

ul.lst-kix_l0migqss4xdv-6 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-2>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-3 {
    list-style-type: disc
}

.lst-kix_l0migqss4xdv-4>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-4 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-1>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-1 {
    list-style-type: disc
}

.lst-kix_l0migqss4xdv-5>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-2 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-1 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-8>li:before {
    content: ""
}

ul.lst-kix_rtmbw9sgp0h-0 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-5 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-4 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-3 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-7>li:before {
    content: ""
}

ul.lst-kix_rtmbw9sgp0h-2 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-4>li:before {
    content: ""
}

ul.lst-kix_rtmbw9sgp0h-8 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-7 {
    list-style-type: disc
}

ul.lst-kix_rtmbw9sgp0h-6 {
    list-style-type: disc
}

.lst-kix_rtmbw9sgp0h-6>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-0>li:before {
    content: ""
}

.lst-kix_rtmbw9sgp0h-5>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-1>li:before {
    content: ""
}

ul.lst-kix_l0migqss4xdv-0 {
    list-style-type: disc
}

.lst-kix_l0migqss4xdv-7>li:before {
    content: ""
}

.lst-kix_l0migqss4xdv-8>li:before {
    content: ""
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c19 {
    border-right-style: solid;
    padding: 0pt 1pt 1pt 0pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 206.8pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c34 {
    border-right-style: solid;
    padding: 2pt 5pt 2pt 2pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 216.8pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c26 {
    border-right-style: solid;
    padding: 1pt 2pt 1pt 2pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 317pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c12 {
    border-right-style: solid;
    padding: 0pt;
    border-bottom-color: #ffffff;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 316.1pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 1pt 1pt 1pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 327pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c27 {
    border-right-style: solid;
    padding: 0pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 549.9pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 0pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 1pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 539.9pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c14 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 18pt;
    font-family: "Raleway";
    font-style: normal
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Lato";
    font-style: normal;
    padding-top: 0pt;
}

.c13 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Lato";
    font-style: normal
}

.c0 {
    margin-left: 19.4pt;
    padding-top: 0pt;
    padding-left: -3.6pt;
    padding-bottom: 0pt;
    line-height: 1.1;
    text-align: left
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.0;
    text-align: left;
    height: 10pt
}

.c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left;
    height: 0pt
}

.c5 {
    padding-top: 2pt;
    padding-bottom: 1pt;
    line-height: 1.1;
    text-align: left
}

.c4 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c7 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c16 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c8 {
    margin-left: 21.3pt;
    padding-left: 0pt;
    orphans: 2;
    widows: 2
}

.c25 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c18 {
    font-weight: 400;
    font-size: 16pt;
    font-family: "Raleway"
}

.c41 {
    font-size: 30pt;
    font-family: "Raleway";
    font-weight: 500
}

.c32 {
    background-color: #ffffff;
    max-width: 549.9pt;
    padding: 2.8pt 22.7pt 2.8pt 22.7pt
}

.c9 {
    font-size: 30pt;
    font-family: "Raleway";
    font-weight: 300
}

.c23 {
    font-weight: 400;
    font-size: 18pt;
    font-family: "Lato"
}

.c22 {
    font-weight: 400;
    font-size: 1pt;
    font-family: "Raleway"
}

.c24 {
    font-weight: 400;
    font-size: 1pt;
    font-family: "Lato"
}

.c6 {
    page-break-after: avoid;
    orphans: 2;
    widows: 2
}

.c43 {
    font-weight: 400;
    font-family: "Lato"
}

.c10 {
    orphans: 2;
    widows: 2
}

.c35 {
    color: inherit;
    text-decoration: inherit
}

.c20 {
    padding: 0;
    margin: 0
}

.c28 {
    font-weight: 400;
    font-family: "Raleway"
}

.c42 {
    height: 28pt
}

.c38 {
    height: 38pt
}

.c36 {
    font-size: 13pt
}

.c2 {
    height: 0pt
}

.c30 {
    height: 686pt
}

.c39 {
    font-size: 5pt
}

.c29 {
    height: 707pt
}

.c33 {
    margin-left: 5.7pt
}

.c15 {
    page-break-after: avoid
}

.c40 {
    font-size: 2pt
}

.c21 {
    font-size: 10pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 36pt;
    padding-bottom: 1pt;
    font-family: "Raleway";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 10pt;
    font-family: "Lato"
}

p {
    margin: 0;
    color: #000000;
    font-size: 10pt;
    font-family: "Lato"
}

h1 {
    padding-top: 0pt;
    color: #000000;
    font-size: 18pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 0pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 0pt;
    color: #000000;
    font-size: 13pt;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Lato";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Lato";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Lato";
    line-height: 1.0;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

div {
    line-height: 1.2em;
}