---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/resume.css">
</head>

<body>
  {% include header.html %}

  <div class="container   row">
    <div class="container">
      <div class="col-md-3 col-sm-2"></div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <article class="post">
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            Hello,
            <span class="hidden-xs">
              Here is the Web Resume.
            </span>

            <div class="hidden-md hidden-lg hidden-sm">
              Looks like you're on a mobile device.

              <br>
              To view the web Resume, either switch your browser to desktop mode
              or,
            </div>

            <br>
            <a href="/uploads/jatin-rohilla-resume.pdf" target="_blank" alt="Jatin Rohilla Resume"
              title="Jatin Rohilla Resume">Click here</a>
            to download the resume in pdf format.
          </header>
        </article>

      </div>
    </div>

  </div>

  </div>

  <div class="container text-center hidden-xs">
    <div class="col-md-2"></div>

    <div class="col-md-10 text-center">
      {{ content }}

    </div>
    <!-- <div class="col-md-2"></div> -->

  </div>
  <br>

  <div class="hidden-md hidden-lg hidden-sm">

    {% include footer.html %}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  {% if site.analytics %}{% include analytics.html %}{% endif %}
</body>

</html>